# PHPStorm
.idea

# OSX
.DS_Store

# Composer
vendor/
bin/
logs/
composer.lock

# Build stuff
.build/
.ddev/**/*.example
.ddev/**/*.txt
Build/.phpunit.cache/
Build/.phpunit.result.cache
Documentation-GENERATED-temp/
node_modules/
var/

# The installation TYPO3 writes below the Composer root
config/

# CGL Fixer
.php-cs-fixer.cache
.phplint.cache
