name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        typo3: [^10.4, dev-master]
        php: ['7.4']
        include:
          - typo3: ^10.4
            php: '7.4'
          - typo3: ^10.4
            php: '7.3'
          - typo3: ^10.4
            php: '7.2'
          - typo3: dev-master
            php: '7.4'

    steps:
    - uses: actions/checkout@v2

    - name: Setup PHP ${{ matrix.php }}
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php }}

    - name: Update Composer
      run: |
        sudo composer self-update
        composer --version

    - name: Validate composer.json and composer.lock
      run: composer validate

    - name: Install dependencies
      run: |
        composer require typo3/cms-core:${{ matrix.typo3 }} --no-progress
        git checkout composer.json

    - name: CGL
      run: composer t3g:cgl

    - name: Lint PHP
      run: composer t3g:test:php:lint

    - name: Unit Tests
      run: composer t3g:test:php:unit
